extends layouts/main-layout
block styles
    link(rel="stylesheet", href="./css/product.css")
    link(rel="stylesheet", href="./css/form.css")

block content
    main
        form(action="/admin/product" method="POST")
            .abc
                lable(for="title") Title:
                input(id="title" type="text" name="title")
                button(type="submit") Adding this Product